<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>新規投稿画面</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container newMessage-form">
		<form method="post" th:action="@{/new}" th:object="${formModel}">
			<div class="new-message">
				<label class="title-label">件名</label>
				<div class="title"><input type="text" name="title" th:value="*{title}" size="20"  /></div>
				<label class="text-label">本文</label>
				<div class="message-text"><textarea  name="text" th:value="*{text}" th:text ="*{text}"> </textarea></div>
				<label class="category-label">カテゴリー</label>
				<div class="category"><input type="text" name="category" th:value="*{category}" /></div>
				<input type="hidden" name="user_id" th:value="${formModel.user_id}" />
			</div>
			<p th:errors="*{title}" class="error-message"></p>
			<p th:errors="*{text}" class="error-message"></p>
			<p th:errors="*{category}" class="error-message"></p>
		 	<input type="submit" value="投稿" />
		</form>
		<form th:action="@{/ramune}">
			<input type="submit" value="戻る" />
		</form>
	</div>
</body>
</html>