<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>新規登録</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="./css/form.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
</head>
<body>
	<div class="header">
		<a th:href="@{/ramune}" type="button">トップページ</a>
	</div>
    <div class="container center-block signup-form">
        <form class="containe center-block" th:action="@{/signup}" th:method="post" th:object="${SignUpForm}">
           	<div th:if="${errorMessageList}" class="alert alert-danger">
		    	<div th:each="errorMessage : ${errorMessageList}">
		    		<p class="error" th:text="${errorMessage}"></p>

		    	</div>
		    	<p th:errors="*{account}" class="error-message"></p>
					<p th:errors="*{name}" class="error-message"></p>
					<p th:errors="*{branch_id}" class="error-message"></p>
		    </div>
			<div class="form-group">
	            <!--  アカウント名入力 -->
				<legend>アカウント名</legend>
	 			<input type="text" name="account" id="account"  th:value="*{account}"><br />
	 		</div>

            <!--  パスワード入力 -->
            <div class="form-group">
	            <legend>パスワード</legend>
	            <input type="password" name="passwordEntity" th:value="${passwordEntity}"  id="passwordEntity"><br />
         	</div>

         	<!--  パスワード確認用 -->
            <div class="form-group">
	            <legend>パスワード（確認用）</legend>
	            <input type="password" name="confirmPassword" th:value="${confirmPassword}" id="confirmPassword "><br />
           	</div>

            <!--  氏名入力 -->
            <div class="form-group">
	            <legend>氏名</legend>
				<input type="text" name="name" id="name" th:value="*{name}"><br />
			</div>

             <!--  支店名入力 -->
             <div class="form-group">
	            <legend>支店名</legend>
				<select id="branch_id" name="branch_id">
					<option th:each="branch : ${branchData}" th:value="${branch.id}"
					th:text="${branch.name}" th:selected="${branch.id} == *{branch_id}"></option>
				</select>
			</div>

			<!-- 部署名入力 -->
			<div class="form-group">
				<legend>部署名</legend>
				<select id="department_id" name="department_id">
	    			<option th:each="department : ${departmentData}" th:value="${department.id}"
	    			th:text="${department.name}" th:selected="${department.id} == *{department_id}"></option>
				</select>
			</div>
			<!--  有効ユーザー初期値 -->
            <input type="hidden" name="is_stopped" th:value="0" />

            <button type="submit" class="text-center signup-btn btn btn-primary">新規登録</button>
        </form>
        <form action="/userManagement">
			<input type="submit" value="戻る" />
		</form>
    </div>
</body>
</html>