<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">


<head>
	<meta charset="UTF-8">
	<title>TOP</title>
	<script type="text/javascript" src="./js/jquery-3.6.0.min.js"></script>
	 <script  src="./js/alert.js"></script>
</head>

<body>

	<!-- 以下新規投稿ボタンログインユーザーのid必要 -->
<!-- 	管理者のみリンクを表示 -->
<div sec:authorize="hasAuthority('ROLE_ADMIN')">

<a th:href="@{/userManagement}" type="button">ユーザー管理画面</a>
</div>

<!-- エラーメッセージ -->
<div th:if="${error}" th:text="${error}" class="alert alert-danger"></div>
	<div>
		<a th:href="@{/new}"><button type="button">新規投稿</button></a><br />
		<form role="form" id="logout" th:action="@{/logout}" method="post"><button type="submit">ログアウト</button>
	</form>
	</div>
	<!-- <form th:action="@{/search}" th:object="${search}" th:method="get"> -->
	<form th:action="@{/search}" th:object="${search}" th:method="get">
		日付:
		<input type="date" name="start" th:value = "${search[0]}">
		 ~
		<input type="date" name="end" th:value = "${search[1]}" >
		カテゴリー:
		<input type="text" name="category" th:value = "${search[2]}"> <input type="submit" value="検索">
	</form>

	<p>ようこそ<span sec:authentication="principal.username"></span>さん</p>

	<!-- メッセージの表示 -->
	<div class = "messages">
		<div th:each="message : ${messages}">
			<div class="title" th:text="${message.title}"></div>
			<pre><div class="text" th:text="${message.text}"></div></pre>
			<span class="category" th:text="${message.category}"></span>

			<!-- ユーザーの名前を表示 -->
			<div th:each="user : ${users}">

				 <div th:if="${message.user_id} == ${user.id}">投稿者:<span class="name" th:text="${user.name}"></span></div>
			</div>

			<!-- 投稿日時 -->
			<div class="date" th:text="${message.updated_date}"></div>

			<!-- コメント一覧表示 -->
			<div th:each="comment : ${comments}">
				<div th:if = "${comment.message_id} == ${message.id}">
					<!-- ユーザーの名前を表示 -->
					<div th:each="user : ${users}">
				 		<div th:if="${comment.user_id} == ${user.id}">返信者:<span class="name" th:text="${user.name}"></span></div>
					</div>
					<pre><span th:text="${comment.text}"></span></pre>
					<div th:if="${loginUser.id} == ${comment.user_id}" id="delete-btn">
						<form th:action = "@{/commentDelete/{id}(id=${comment.id})}" th:method = "delete">
							<input type="submit" value="削除" >
						</form>
					</div>
				</div>
			</div>

			<!-- 投稿削除ボタン -->
			<div th:if="${loginUser.id} == ${message.user_id}" id="delete-btn">
				<form th:action = "@{/delete/{id}(id=${message.id})}" th:method = "delete">
						<input type="submit" value="削除" >
				</form>
			</div>

			<!-- コメントフォーム -->
			<div class="comment-form">
				<form th:method = "post" th:action = "@{/commentAdd}" th:object = "${commentForm}">
					<div class="comment-area">
						<p>コメント</p>
						<div><textarea  name="text" th:value="*{text}" size="20" maxlength="550" ></textarea></div>
						<div><input type="hidden" name="user_id" th:value="${loginUser.id}" /></div>
						<div><input type="hidden" name="message_id" th:value="${message.id}" /></div>
					</div>

					<input type="submit" value="投稿" />
					<p th:errors="*{text}" class="error-message"></p>
				</form>
			</div>
		</div>
	</div>
</body>
</html>