<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー管理</title>
	<script type="text/javascript" src="./js/jquery-3.6.0.min.js"></script>
	 <script  src="./js/change.js"></script>
</head>
<body>
 <div th:if="${error}" th:text="${error}" class="alert alert-danger"></div>
	<a th:href="@{/signup}"><button type="button">ユーザー新規登録</button> </a>
	<form th:action="@{/ramune}">
		<input type="submit" value="戻る" />
	</form>

	<div class="users" th:each="user : ${users}">
	 	<label class="account-label">アカウント名</label>
		<div class="account" th:text="${user.account}"></div>
		<label class="name-label">ユーザー名</label>
		<div class="name" th:text="${user.name}"></div>
		<label class="branch-label">支社名</label>
		<div th:each="branch : ${branchData}">
			<div th:if="${branch.id} == ${user.branch_id}">
				<div th:text="${branch.name}"></div>
			</div>

		</div>
		<label class="department-label">部署名</label>
		<div th:each="department : ${departmentData}">
			<div th:if = "${department.id} == ${user.department_id}">
				<div th:text="${department.name}"></div>
			</div>

		</div>
		<label class="edit-label">編集</label>
		<div><a th:href="@{/userEdit/{id}(id=${user.id})}"><button type="button">編集</button></a></div>
		<div th:if="${loginUser.id} != ${user.id}">
			<div th:if="${user.is_stopped} == 0">
				<label class="switchAccount-label">アカウント管理</label>
				<div >
					<form th:action = "@{/switchAccount/{id}(id=${user.id})}" th:method = "put"  >
					<input type="submit" value="停止" class="change-btn">
					</form>

				</div>
			</div>
			<div th:if="${user.is_stopped} == 1">

<label class="switchAccount-label">アカウント管理</label>
				<div >
				<form th:action = "@{/switchAccount/{id}(id=${user.id})}" th:method = "put" >

					<input type="submit" value="復活" class="change-btn">
					</form>

				</div>
			</div>

		</div>
	</div>
</body>
</html>