<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー編集</title>

</head>
<body>
	<div class="userEdit-form">
		<form th:method="put" th:action="@{/userUpdate/{id}(id=${formModel.id})}" th:object="${formModel}">
		    <!--  アカウント名入力 -->
			<label class="loginId-label">アカウント名</label>
            <input type="text" name="account" id="account"  th:value="*{account}"><br />

            <!--  パスワード入力 -->
            <label class="password-label">パスワード</label>

            <input type="password" name="passwordEntity"  id="passwordEntity" th:value="${passwordEntity}"><br />

        	<!--  パスワード確認 -->
            <label class="password-label">パスワード（確認用）</label>
            <input type="password" name="confirmPassword" id="confirmPassword" th:value="${confirmPassword}"><br />

		    <!--  氏名入力 -->
            <label class="loginId-label">ユーザー名</label>
            <input type="text" name="name" id="name" th:value="*{name}"><br />


			<div th:if="${loginUser.id} != *{id}">
	            <!--  支店名入力 -->
	            <label for="branch">支店名</label>
				<select id="branch_id" name="branch_id">
					<option th:each="branch : ${branchData}" th:value="${branch.id}"
					th:text="${branch.name}"  th:selected="${branch.id} == *{branch_id}"></option>
				</select>


				<!-- 部署名入力 -->
				<label for="department">部署名</label>
				<select id="department_id" name="department_id">
	    			<option th:each="department : ${departmentData}" th:value="${department.id}"
	    			th:text="${department.name}" th:selected="${department.id} == *{department_id}"></option>
	    		</select>
				<input type="hidden" name="is_stopped" th:value="0" />
			</div>
			<!-- エラー文表示 -->
			<p th:errors="*{account}" class="error-message"></p>

		    <p th:errors="*{name}" class="error-message"></p>
			<p th:errors="*{branch_id}" class="error-message"></p>

			<div th:if="${errorMessageList}" class="alert alert-danger">
		    	<div th:each="errorMessage : ${errorMessageList}">
		    		<p class="error" th:text="${errorMessage}"></p>
		    	</div>
		    </div>
			<input type="submit" value="更新" />		</form>
	</div>
	<form action="/userManagement">
		<input type="submit" value="戻る" />
	</form>
</body>
</html>